/*css reset*/
body{
    margin: 0;
    padding: 0;
    background:url('background.jpg') no-repeat center/cover;
    color: rgb(7, 7, 7);
    font-family: 'Mochiy Pop P One', sans-serif;
}
.left{
    display: inline-block;
    position: absolute;
}
 img{
    width: 10%;
    filter: invert(10%);
    margin: 50px 40px;
    border-radius: 2rem;
    
}
.mid{
   
    display: block;
    width: 60%;
    margin: 30px auto;
    right: 40px;
}

.navbar{
    display: inline-block;
   
    
} 
.navbar li{
    display: inline-block;
    cursor: pointer;
    margin: 30px;
    padding: 4px 5px;
    position: relative;
    right: 60px;    
}
.navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: black;
}
.navbar li a:hover{
   background: rgb(196, 191, 191);
   
   border-radius: 30px;
}
.right{
    right: 60px;
    display: inline-block;
  position: absolute;

}
.right button{
    cursor: pointer;
    color: rgb(8, 2, 0);
    background-color: rgb(224, 224, 123);
    font-weight: bold;
    font-size: 20px;
    margin: 0px 15px;
    position: relative;
    bottom: 7rem;
   
}
.right button:hover{
    background-color: rgb(196, 57, 57);
    border-radius: 30px;
    
}
.container{
   
    margin: 100px 450px;
    display: block;
    width: 30%;
    padding: 40px 50px;
  
}
.container h1{
    color: rgb(85, 49, 24);
    font-family: 'Rubik Beastly', cursive;
    font-size: 50px;
}
.container h3{
    color: rgb(182, 23, 23);
    font-family: 'Rubik Beastly', cursive;
    font-size: 30px;
}
.container Input[type="button"]{
    background-color: rgb(170, 161, 67);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container Input[type="button"]:hover{
    background-color: darkkhaki;
    
}
